$success: #67c23a;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

// &  ;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; // 盒模型
}
ul {
  list-style: none;
}
@font-face {
  font-family: "iconfont"; /* project id 1031917 */
  src: url("http://at.alicdn.com/t/font_1031917_lcafbd3qbeb.eot");
  src: url("http://at.alicdn.com/t/font_1031917_lcafbd3qbeb.eot?#iefix")
      format("embedded-opentype"),
    url("http://at.alicdn.com/t/font_1031917_lcafbd3qbeb.woff2") format("woff2"),
    url("http://at.alicdn.com/t/font_1031917_lcafbd3qbeb.woff") format("woff"),
    url("http://at.alicdn.com/t/font_1031917_lcafbd3qbeb.ttf")
      format("truetype"),
    url("http://at.alicdn.com/t/font_1031917_lcafbd3qbeb.svg#iconfont")
      format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wp {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  width: 350px;
  margin: 100px auto 0;
  display: flex;
  flex-wrap: wrap;

  > li {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    &:hover{
        cursor: pointer;
    }
    > i {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      color: #fff;
      background-color: $success;
      border-radius: 30px;
    }
    > span {
      margin-top: 10px;
    }
    &:nth-child(2){
        > i{
            background-color: $warning;
        }
    }
    &:nth-child(3){
        > i{
            background-color: $danger;
        }
    }
    &:nth-child(4){
        > i{
            background-color: $info;
        }
    }
  }
}
